.popover-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 48px;
}

.popover-item__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 100%;
  margin-right: 10px;
}

.popover-item__icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--plus {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4V20' stroke='%2322242C' stroke-linecap='round'/%3E%3Cpath d='M4 12L20 12' stroke='%2322242C' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  &--edit {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.7674 14.0509C18.5473 14.0509 18.3689 14.2293 18.3689 14.4494V17.9875C18.3681 18.6475 17.8334 19.1823 17.1734 19.1829H5.99241C5.33243 19.1823 4.79774 18.6475 4.79697 17.9875V7.60344C4.79774 6.94361 5.33243 6.40877 5.99241 6.40799H9.53051C9.75061 6.40799 9.92899 6.22961 9.92899 6.00951C9.92899 5.78956 9.75061 5.61102 9.53051 5.61102H5.99241C4.89254 5.61227 4.00125 6.50356 4 7.60344V17.9877C4.00125 19.0875 4.89254 19.9788 5.99241 19.9801H17.1734C18.2733 19.9788 19.1646 19.0875 19.1659 17.9877V14.4494C19.1659 14.2293 18.9875 14.0509 18.7674 14.0509Z' fill='%2322242C'/%3E%3Cpath d='M19.0081 4.58608C18.3078 3.88578 17.1725 3.88578 16.4722 4.58608L9.36297 11.6953C9.31425 11.744 9.27907 11.8044 9.2607 11.8707L8.32582 15.2458C8.28737 15.3842 8.32644 15.5324 8.42793 15.634C8.52958 15.7355 8.67776 15.7746 8.81614 15.7363L12.1913 14.8013C12.2576 14.7829 12.318 14.7477 12.3667 14.699L19.4757 7.58964C20.1749 6.88887 20.1749 5.75444 19.4757 5.05367L19.0081 4.58608ZM10.2312 11.9543L16.0495 6.1358L17.926 8.01225L12.1075 13.8307L10.2312 11.9543ZM9.8564 12.7064L11.3555 14.2057L9.28187 14.7802L9.8564 12.7064ZM18.9122 7.02616L18.4896 7.44877L16.613 5.57217L17.0358 5.14956C17.4248 4.76057 18.0555 4.76057 18.4445 5.14956L18.9122 5.61715C19.3006 6.00661 19.3006 6.63687 18.9122 7.02616Z' fill='%2322242C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &--delete {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M13.8476 9.79681C13.6406 9.79681 13.4729 9.96455 13.4729 10.1715V17.2535C13.4729 17.4603 13.6406 17.6282 13.8476 17.6282C14.0546 17.6282 14.2223 17.4603 14.2223 17.2535V10.1715C14.2223 9.96455 14.0546 9.79681 13.8476 9.79681Z' fill='%2322242C'/%3E%3Cpath d='M9.42598 9.79681C9.21901 9.79681 9.05127 9.96455 9.05127 10.1715V17.2535C9.05127 17.4603 9.21901 17.6282 9.42598 17.6282C9.63294 17.6282 9.80068 17.4603 9.80068 17.2535V10.1715C9.80068 9.96455 9.63294 9.79681 9.42598 9.79681Z' fill='%2322242C'/%3E%3Cpath d='M6.20363 8.76329V17.9953C6.20363 18.5409 6.40372 19.0534 6.75325 19.421C7.10117 19.7898 7.58536 19.9991 8.09209 19.9999H15.1816C15.6885 19.9991 16.1727 19.7898 16.5205 19.421C16.87 19.0534 17.0701 18.5409 17.0701 17.9953V8.76329C17.7649 8.57887 18.2152 7.90762 18.1222 7.19465C18.0291 6.48183 17.4218 5.94861 16.7029 5.94846H14.7844V5.48008C14.7866 5.0862 14.6309 4.70798 14.352 4.42973C14.0732 4.15163 13.6944 3.99677 13.3005 3.99999H9.97323C9.57935 3.99677 9.20055 4.15163 8.92171 4.42973C8.64288 4.70798 8.48714 5.0862 8.48934 5.48008V5.94846H6.57087C5.8519 5.94861 5.24462 6.48183 5.15153 7.19465C5.05858 7.90762 5.50881 8.57887 6.20363 8.76329ZM15.1816 19.2505H8.09209C7.45143 19.2505 6.95304 18.7002 6.95304 17.9953V8.79623H16.3207V17.9953C16.3207 18.7002 15.8223 19.2505 15.1816 19.2505ZM9.23875 5.48008C9.23626 5.28497 9.31296 5.09717 9.45142 4.95944C9.58974 4.82171 9.77798 4.74603 9.97323 4.7494H13.3005C13.4958 4.74603 13.684 4.82171 13.8223 4.95944C13.9608 5.09703 14.0375 5.28497 14.035 5.48008V5.94846H9.23875V5.48008ZM6.57087 6.69787H16.7029C17.0754 6.69787 17.3773 6.99983 17.3773 7.37234C17.3773 7.74485 17.0754 8.04681 16.7029 8.04681H6.57087C6.19836 8.04681 5.8964 7.74485 5.8964 7.37234C5.8964 6.99983 6.19836 6.69787 6.57087 6.69787Z' fill='%2322242C'/%3E%3Cpath d='M11.6369 9.79681C11.4299 9.79681 11.2622 9.96455 11.2622 10.1715V17.2535C11.2622 17.4603 11.4299 17.6282 11.6369 17.6282C11.8439 17.6282 12.0116 17.4603 12.0116 17.2535V10.1715C12.0116 9.96455 11.8439 9.79681 11.6369 9.79681Z' fill='%2322242C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white' transform='translate(3.64062 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.popover-item__title {
  font-size: 15px;
  line-height: 18px;
  color: #22242C;
}
