.dropdown {
  position: relative;

  cursor: pointer;
}

.dropdown__field {
  display: block;

  cursor: pointer;
}

.dropdown__items {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 1;

  width: 100%;

  border: 1px solid #c3cee0;
  border-radius: 6px;
}

.dropdown__item {
  display: flex;
  align-items: center;

  height: 48px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 18px;

  color: gray;
  color: #22242c;
  background-color: white;

  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
